body {}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #1a2848;
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 2px;
}

.btn-outline-secondary:hover {
    background-color: #1a2848;
}

.logged-out {
    background: linear-gradient(45deg, #000000, #900000);
    height: 40px;
    border-radius: 12px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 8px;
}

.connected-panel {
    background: linear-gradient(45deg, #000000, #ff004c);
    height: 40px;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 8px;
    z-index: 10;
}

.address-panel {
    background: #24396b;
    height: 42px;
    border-radius: 12px;
    padding: 5px;
    padding-right: 20px;
    color: #d0deffcc;
    padding-top: 8px;
    border: 1px solid #ffffff36;
    margin-left: -80px;
    border-bottom-left-radius: 0px;
    margin-top: -1px;
    padding-left: 85px;
    border-top-left-radius: 0px;
}

.balance-panel {
    background: #24396b;
    height: 42px;
    margin-top: -1px;
    border-radius: 12px;
    padding: 5px;
    text-align: right;
    color: #d0deffcc;
    border-right: none;
    padding-left: 15px;
    padding-top: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: -55px;
    padding-right: 62px;
    border: 1px solid #ffffff36;
}

.logged-in {
    display: flex;
}


@media(max-width: 767px) {
    .mobile-panel-stakes {
        padding-right: 10px;
        padding-left: 25px;
        margin-top: 50px;
    }
}


.select-package {
    border: none;
    margin-top: 50px;
}

.select-package:focus,
.select-package:active {
    border: none;
    box-shadow: none;
    outline: none;
}


input.input100,
select.select-package {
    color: white;
}
select.select-package option {
    background-color: #121b33;
}


/* Loader 5 */
.loader-5 {
    height: 32px;
    width: 32px;
    -webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    float: left;
    position: absolute !important;
    right: 20px;
}

@-webkit-keyframes loader-5-1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-5-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-5::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    -webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(24px, 0, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-2 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(24px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-5::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    -webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(-24px, 0, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-24px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-5 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
}

.loader-5 span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    -webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(0, 24px, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(0, 24px, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-5 span::after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    -webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-5 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(0, -24px, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-5 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(0, -24px, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}


.container-login100-form-btn.disabledBtn .login100-form-bgbtn {
    background: -webkit-linear-gradient(right, #000, #63575a, #000, #ff004c);
    background: linear-gradient(right, #000, #63575a, #000, #ff004c);
}

.container-login100-form-btn.disabledBtn {
    pointer-events: none;
}